<!DOCTYPE html>
<html>

    <head>

        <%# app/views/posts/show.html.erb %>
        <h1><%= @post.title %></h1>
        <p><%= @post.description %></p>
    
    </head>


    <body>

    </body>

</html>